* {
  margin: 0;
  padding: 0;
}

.container {
  background: #6683d1;
  background: linear-gradient(
    197deg,
    rgba(102, 131, 209, 1) 46%,
    rgba(255, 216, 204, 1) 96%
  );
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.header {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.footer {
  grid-row: -2/-1;
  grid-column: 1/-1;
}

.main {
  align-self: center;
  padding: 1rem;
  grid-column: 2/4;
  display: grid;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  opacity: 75%;

  box-shadow: 4px 0 40px 20px gray;
}

#logo {
  height: 4rem;
  width: 4rem;
}

.board {
  height: 30rem;
  width: auto;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: grid;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 2px 1px black;
}
