@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  background: #6683d1;
  background: linear-gradient(
    197deg,
    rgba(102, 131, 209, 1) 46%,
    rgba(255, 216, 204, 1) 96%
  );
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.header {
  font-family: "Monoton", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  font-style: italic;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.footer {
  font-family: "Comfortaa", sans-serif;
  grid-row: -2/-1;
  grid-column: 1/-1;
}

.main {
  font-family: "Comfortaa", sans-serif;
  align-self: center;
  padding: 1rem;
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  opacity: 75%;
  box-shadow: 4px 0 20px 4px rgba(25, 90, 180, 0.811);
}

#logo {
  height: 3rem;
  width: 3rem;
}

.glass {
  box-sizing: border-box;
  height: 30rem;
  width: 30rem;
  padding: 1rem;
  border-radius: 5%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  display: grid;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 2px 1px black;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 1px rgb(60, 57, 57);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}
